.bg {
 background: url('') no-repeat center center;
position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
 .jumbotron {
    margin-bottom: 0px;
    background-image: url('../img/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

body { 
    padding-bottom: 110px; 
} 

.pager .next>a, .pager .next>span {
float: left !important;
}
.pager li>a, .pager li>span{
float: left;
}

.krok {
float: right;
padding-right: 100px;
}